SHOPIFY_API_KEY=shp_7a9f82d1b03e491c92a
SHOPIFY_API_SECRET=shpss_8c172e9a5bf3214da9e8c
SHOPIFY_SCOPES=read_orders,write_orders,read_discounts,write_discounts,write_theme_code,read_themes,write_themes,read_checkouts,write_checkouts,read_payment_customizations,write_payment_customizations,read_products,write_products,read_price_rules,write_price_rules,read_draft_orders,write_draft_orders,read_customers,read_delivery_customizations,write_delivery_customizations
SHOPIFY_APP_URL=https://paybro-eta.vercel.app
PAYMENT_PROVIDER=mock
